binds {
    Alt+S repeat=false hotkey-overlay-title="翻译划词或复制" { spawn "dms" "ipc" "call" "dankTranslateAI" "translateSelection"; }
    Alt+space hotkey-overlay-title="程序菜单 Applauncher" { spawn-sh "zsh -lc 'dms ipc call spotlight toggle || fuzzel'"; }
    Ctrl+Alt+Delete hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Ctrl+Shift+R hotkey-overlay-title="Rename Workspace" { spawn "dms" "ipc" "call" "workspace-rename" "open"; }
    Ctrl+XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "decrement" "3"; }
    Ctrl+XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "increment" "3"; }
    Mod+Alt+L hotkey-overlay-title="锁屏 Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Mod+Alt+P hotkey-overlay-title="挂起 Suspend" { spawn-sh "niri msg action power-off-monitors && dms ipc call lock lock && systemctl suspend"; }
    Mod+Alt+V hotkey-overlay-title="剪贴板 Clipboard" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    Mod+Alt+W hotkey-overlay-title="壁纸切换 Wallpaper" { spawn "dms" "ipc" "call" "dankdash" "wallpaper"; }
    Mod+F2 hotkey-overlay-title="设置 Settings" { spawn-sh "dms ipc call settings focusOrToggle"; }
    Mod+Shift+F10 hotkey-overlay-title="随机下载壁纸 Random wallpaper" { spawn "~/bin/random-anime-wallpaper-dms"; }
    Mod+Shift+N hotkey-overlay-title="记事本 Notepad" { spawn "dms" "ipc" "call" "notepad" "toggle"; }
    Mod+Shift+W hotkey-overlay-title="Create window rule" { spawn "dms" "ipc" "call" "window-rules" "toggle"; }
    Mod+Y hotkey-overlay-title="Browse Wallpapers" { spawn "dms" "ipc" "call" "dankdash" "wallpaper"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "3"; }
    XF86AudioMicMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "micmute"; }
    XF86AudioMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioNext allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "next"; }
    XF86AudioPause allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioPlay allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioPrev allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "previous"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "3"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+Ctrl+I { move-column-to-workspace-up; }
    Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+I { focus-workspace-up; }
    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up { focus-workspace-up; }
    Mod+Shift+Alt+A { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+D { move-workspace-to-monitor-right; }
    Mod+Shift+Alt+Down { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+H { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+J { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+K { move-workspace-to-monitor-up; }
    Mod+Shift+Alt+L { move-workspace-to-monitor-right; }
    Mod+Shift+Alt+Left { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+Right { move-workspace-to-monitor-right; }
    Mod+Shift+Alt+S { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+Up { move-workspace-to-monitor-up; }
    Mod+Shift+Alt+W { move-workspace-to-monitor-up; }
    Mod+Shift+I { move-workspace-up; }
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up { move-workspace-up; }
    Mod+Shift+U { move-workspace-down; }
    Mod+Shift+WheelScrollDown hotkey-overlay-title="切换工作区 Change workspaces" cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+U { focus-workspace-down; }
    Alt+F4 repeat=false hotkey-overlay-title="强制杀死窗口 Force kill -9 window" { spawn "~/.config/niri/scripts/niri-force-kill-window"; }
    Alt+Shift+F4 hotkey-overlay-title="强制杀死窗口以及关联进程 Force kill -9 a window tree" repeat=false { spawn "~/.config/niri/scripts/niri-force-kill-window" "-f"; }
    Alt+XF86Launch1 { screenshot-window; }
    Alt+grave { switch-focus-between-floating-and-tiling; }
    Ctrl+Print { spawn-sh "niri msg action screenshot-window --show-pointer false && pkill -f -USR1 screenshot-sound.sh"; }
    Mod+A hotkey-overlay-title="向左移动窗口 Move window to left between columns" { consume-or-expel-window-left; }
    Mod+Alt+Ctrl+A hotkey-overlay-title="截取聚焦窗口 Focus-window screenshot" { spawn-sh "niri msg action screenshot-window && pkill -f -USR1 screenshot-sound.sh"; }
    Mod+Alt+E { spawn "env" "GSK_RENDERER=gl" "nautilus" "--new-window"; }
    Mod+Alt+F hotkey-overlay-title="全屏 fullscreen" { fullscreen-window; }
    Mod+Alt+N { switch-focus-between-floating-and-tiling; }
    Mod+Alt+S hotkey-overlay-title="收起窗口 Move to Sidebar" { spawn "niri-sidebar" "toggle-window"; }
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+C { center-column; }
    Mod+Comma { consume-window-into-column; }
    Mod+Ctrl+A { move-column-left; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Ctrl+D { move-column-right; }
    Mod+Ctrl+End { move-column-to-last; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+L { move-column-right; }
    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+WheelScrollDown { move-column-right; }
    Mod+Ctrl+WheelScrollUp { move-column-left; }
    Mod+D hotkey-overlay-title="向右移动窗口 Move window to right between columns" { consume-or-expel-window-right; }
    Mod+Down { focus-window-down; }
    Mod+End { focus-column-last; }
    Mod+Equal { set-column-width "+5%"; }
    Mod+F hotkey-overlay-title="最大化 maximize" { maximize-column; }
    Mod+H { focus-column-left; }
    Mod+Home { focus-column-first; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }
    Mod+Left { focus-column-left; }
    Mod+M hotkey-overlay-title="收起窗口 Move to Sidebar" { spawn "niri-sidebar" "toggle-window"; }
    Mod+Minus { set-column-width "-5%"; }
    Mod+MouseBack { focus-window-down; }
    Mod+MouseForward { focus-window-up; }
    Mod+MouseMiddle { close-window; }
    Mod+N hotkey-overlay-title="切换浮动聚焦 Change focus to floating" { switch-focus-between-floating-and-tiling; }
    Mod+P hotkey-overlay-title="提取窗口信息 Pick information" { spawn "~/.config/niri/scripts/niri-pick" "focus"; }
    Mod+Period { expel-window-from-column; }
    Mod+Q repeat=false hotkey-overlay-title="关闭聚焦窗口 Close focus window" { close-window; }
    Mod+R hotkey-overlay-title="按预设切换宽度 Switch width " { switch-preset-column-width; }
    Mod+Right { focus-column-right; }
    Mod+S { move-window-down; }
    Mod+Shift+A { consume-window-into-column; }
    Mod+Shift+Ctrl+A { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+D { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Down { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Left { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+S { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+W { move-column-to-monitor-up; }
    Mod+Shift+D { expel-window-from-column; }
    Mod+Shift+Down { focus-monitor-down; }
    Mod+Shift+Equal { set-window-height "+5%"; }
    Mod+Shift+H { focus-monitor-left; }
    Mod+Shift+J { focus-monitor-down; }
    Mod+Shift+K { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }
    Mod+Shift+Left { focus-monitor-left; }
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+Up { focus-monitor-up; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+Shift+X { toggle-column-tabbed-display; }
    Mod+Up { focus-window-up; }
    Mod+V hotkey-overlay-title="切换浮动 Toggle floating" { toggle-window-floating; }
    Mod+W { move-window-up; }
    Mod+WheelScrollDown hotkey-overlay-title="滚轮切换聚焦 Change focus with wheel" { focus-column-right; }
    Mod+WheelScrollUp { focus-column-left; }
    Mod+Shift+P { power-off-monitors; }
    Ctrl+XF86Launch1 { screenshot-screen; }
    Mod+Alt+A hotkey-overlay-title="选取区域截图 Select screenshot" { spawn-sh "niri msg action screenshot --show-pointer false && pkill -f -USR1 screenshot-sound.sh"; }
    Mod+Alt+Ctrl+Shift+A hotkey-overlay-title="截取显示器 Monitor screenshot" { spawn-sh "niri msg action screenshot-screen --show-pointer false && pkill -f -USR1 screenshot-sound.sh"; }
    Print { spawn-sh "niri msg action screenshot --show-pointer false && pkill -f -USR1 screenshot-sound.sh"; }
    Shift+Print { spawn-sh "niri msg action screenshot-screen --show-pointer false && pkill -f -USR1 screenshot-sound.sh"; }
    XF86Launch1 { screenshot; }
    Mod+Shift+E hotkey-overlay-title="退出niri Quit niri" { quit; }
    Mod+Alt+O hotkey-overlay-title="AI助手 opencode agent" { spawn "kitty" "--class" "opencode" "-e" "opencode"; }
    Mod+Alt+R hotkey-overlay-title="重置侧边栏 Reorder Sidebar" { spawn "niri-sidebar" "reorder"; }
    Mod+Alt+X { spawn "niri-sidebar" "flip"; }
    Mod+Alt+Z hotkey-overlay-title="展开/收起侧边栏 Toggle Sidebar" { spawn "niri-sidebar" "toggle-visibility"; }
    Mod+B hotkey-overlay-title="浏览器 Browser" { spawn "google-chrome-stable"; }
    Mod+E hotkey-overlay-title="文档管理器 Filemanager" { spawn-sh "XDG_CURRENT_DESKTOP=KDE KDE_SESSION_VERSION=6 QT_QPA_PLATFORMTHEME=kde dolphin"; }
    Mod+Escape hotkey-overlay-title="任务管理器 Task Manager" { spawn "missioncenter"; }
    Mod+F1 hotkey-overlay-title="开关输入法 Toggle fcitx" { spawn-sh "pkill fcitx5 || fcitx5 "; }
    Mod+F3 hotkey-overlay-title="录屏 Screen record" { spawn "shorin-screenrec-menu"; }
    Mod+F5 hotkey-overlay-title="快速存档 Quick save" { spawn "quicksave"; }
    Mod+F8 hotkey-overlay-title="快速读档 Quick load" { spawn "quickload"; }
    Mod+Shift+S hotkey-overlay-title="截图后按下此键进行编辑 Edit the image after screenshot" { spawn-sh "wl-paste -t image/png | satty -f -"; }
    Mod+Shift+Slash hotkey-overlay-title="快捷键教程 Keybind tutorial" { spawn "~/bin/niri-binds"; }
    Mod+Slash hotkey-overlay-title="临时终端 Quick Terminal" { spawn "kitty" "--single-instance" "--class" "quickterminal"; }
    Mod+T hotkey-overlay-title="共享终端 Terminal" { spawn "kitty" "--single-instance"; }
    Mod+return hotkey-overlay-title="独立终端 Terminal" { spawn "kitty"; }
    Mod+G repeat=false hotkey-overlay-title="切换总览界面 toggle overview" { toggle-overview; }
    Mod+Tab repeat=false hotkey-overlay-title="切换总览界面 toggle overview" { toggle-overview; }
    Mod+x allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
